
<div class="products">

        <mat-card >
                <mat-card-content class="produit">
                        <img (click)="startFabrication()" class="logop" [attr.src]= "backend+'/'+product.logo"/>
                        <span> {{product.quantite}}/{{prochainPalier}} </span>
                        <mat-progress-bar class="progressbar" [value]="progressbarvalue"></mat-progress-bar>
                        <span>{{product.revenu*product.quantite | bigvalue}}€</span>
                </mat-card-content>
                
                <button mat-raised-button color="primary" (click)="buyProduit()"> <p>x{{multiValue}} {{product.name}} {{coutAfficher | bigvalue}}€ </p> </button>
        </mat-card>

</div>

