.fond{
    overflow: hidden;
}


.logo{
    width : 90px;
    height : 90px;
    border-radius : 75px;
}

.header {
    display: grid;
    height : 20%;
    grid-template-columns: 12% 48% 20% 20%;
    padding:20px;
    background: linear-gradient(to bottom right, #1a0754, RoyalBlue);
    color :aliceblue;
}

.stars{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(http://www.script-tutorials.com/demos/360/images/stars.png)          
        repeat top center;
    z-index: 0;
}

div{
    text-align: center;
    align-items: center;
}

.main {
    display: grid;
    height : 80%;
    grid-template-columns: 20% 80%;
}

.products {
    display: grid;
    padding : 20px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}



.menu{
    margin-top: 40px;
    height: 100%;
    padding : 20px;
    background-color: aliceblue;
}

.deconnexion{
    display: flex;
    justify-content: center;
    
    /*flex-direction: column;*/
}

.deconnexionlogo{
    height: 30px;
    width: 30px;
    background-image: url(deconnexion.svg);
    background-size: cover;
    margin: 10px;
    background-repeat: no-repeat;
}

.container-img{
    display:block;
    overflow:hidden;
    border:1px solid #000;
}

.container-img img{
    width:100%;
    height:100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}





.modal {
    position:absolute; /* reste en place */
    z-index: 2; /* au dessus du reste */
    
    height: 50%; /* hauteur */
    overflow: auto; /* barre de scroll si besoin */
    background-color: white; /* opaque */
    border: solid;
    bottom:0; /* a 10% du haut */
    left:0; /* a 20% de la gauche */
    right:0
}

.managerlogo{
    height: 40px;
    width: 40px;
    border-radius: 75%;
}

.multi{
    height: 150px;
    width: 150px;
    background-image: url(nuage-cloud.svg);
    background-color: transparent;
    border-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.managerHire{
    width: 50px;
    background-color: bisque;
    
}

.managerHire :hover{
    background-color: aqua;
}

/*.contentManager{
    justify-content: center;
}
*/
