.logo{
    width : 90px;
    height : 90px;
    border-radius : 75px;
}

.header {
    display: grid;
    grid-template-columns: 12% 48% 20% 20%;
    padding:20px;
    background-color: #1a0754;
    color :aliceblue;
}

div{
    text-align: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 20% 80%;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

